<div class="container">
  <h1>Booking Requests</h1>
  <div id="requests-container" class="d-flex flex-wrap justify-content-center">
    <% if @requests_received.any? %>
      <% @requests_received.each do |request| %>
        <div class="request-card mb-4">
          <% if request.user.profile.present? && request.user.profile.photo.attached? %>
            <%= cl_image_tag request.user.profile.photo.key, class: "img-request", alt: "User photo", width: 60, height: 60 %>
          <% else %>
            <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png", class: "img-request", alt: "User photo", width: 60, height: 60 %>
          <% end %>
          <div class="request-info text-center">
            <p><strong><%= request.user.profile.first_name %></strong> made a request for <strong><%= request.pet.name %></strong></p>
          </div>
          <div class="ms-auto ">
                <%= link_to "See profile", profile_path(@profile.id), class: 'btn btn-sm btn-outline-primary' %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="col text-center">
        <p>No requests found.</p>
      </div>
    <% end %>
  </div>
</div>
