<div class="container">
  <h1>Booking Requests</h1>
  <% if @requests_received.any? %>
    <% requests_grouped_by_pet_id = @requests_received.group_by(&:pet_id) %>
    <% requests_grouped_by_pet_id.each do |pet_id, requests| %>
      <% pet = requests.first.pet %>
      <hr class="horizontal-line">
      <div class="pet-info text-center">
        <h2><%= pet.name %></h2>
        <h6>Sitter required: <%= pet.start_date.strftime("%d %b") %> - <%= pet.end_date.strftime("%d %b") %></h3>
      </div>
      <div id="requests-container" class="d-flex flex-wrap justify-content-center">
        <% requests.each do |request| %>
          <div class="request-card mb-4">
            <% if request.user.profile.present? && request.user.profile.photo.attached? %>
              <%= link_to profile_path(request.user.profile.id) do %>
                <div class="flat-card">
                  <%= cl_image_tag request.user.profile.photo.key, class: "img-request", alt: "User photo", width: 60, height: 60 %>
                </div>
              <% end %>
            <% else %>
              <%= link_to profile_path(request.user.profile.id) do %>
                <div class="flat-card">
                  <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png", class: "img-request", alt: "User photo", width: 60, height: 60 %>
                </div>
              <% end %>
            <% end %>
            <div class="request-info text-center">
              <p><strong><%= request.user.profile.first_name %></strong> made a request for <strong><%= request.pet.name %></strong></p>
            </div>
            <div class="d-flex justify-content-between">
              <%= link_to "Accept", accept_request_path(request), method: :post, class: 'btn btn-sm btn-outline-primary' %>
              <%= link_to "Decline", decline_request_path(request), method: :post, class: 'btn btn-sm btn-outline-danger' %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="col text-center">
      <p>No requests found.</p>
    </div>
  <% end %>
</div>
