<h1>Create Profile</h1>
<%= simple_form_for @profile || current_user.build_profile, url: profiles_path, method: :post do |form| %>
  <%= form.input :first_name %>
  <%= form.input :last_name %>
  <%= form.input :description %>
  <%= form.button :submit %>
<% end %>
