<div class="bg-img" style="background-image: url('<%= cl_image_path @pet.photo.key %>');"></div>
<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8 p-3">
      <div class="card bg-light p-3">
        <h1><strong><%= @pet.name.capitalize %></strong></h1>
        <p ><%= @pet.age %> years old</p>
      </div>
      <div class="card bg-light mt-3 p-3">
        <h3>A bit more about them...</h3>
        <p><%= @pet.description %></p>
      </div>
      <div class="card bg-light mt-3 p-3">
        <div id="map" style="width: 100%; height: 400px;"
          data-controller="map"
          data-map-coords-value="<%= @coords.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>




      <% if current_user.id == @pet.user_id %>
      <div class=" d-inline-flex mt-3 ">
        <%= link_to "Edit", edit_pet_path(@pet.id), class: "btn btn-primary ms-2" %>
        <%= link_to "Delete", pet_path(@pet.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger ms-2" %>
      </div>
      <% end %>

    </div>

    <div class="col-4 p-3">
      <div class="card p-3 bg-light">
        <h5>When <%= @pet.name.capitalize %> is free:</h5>
        <table class="table table-bordered mt-3">
          <tbody>
            <tr>
              <th>Start Date:</th>
              <td class="bg-white"><%= @pet.start_date %></td>
            </tr>
            <tr>
              <th>End Date:</th>
              <td class="bg-white"><%= @pet.end_date %></td>
            </tr>
          </tbody>
        </table>
      <%= link_to "Look after #{@pet.name.capitalize}!", pet_requests_path(@pet.id), data: {turbo_method: :post, turbo_confirm: "Are you sure?"}, class: 'btn btn-info mt-3' %>
      </div>
      <div class="card p-3 mt-3 bg-light">
        <h3>Details</h3>
        <div class="mt-3">
            <p><strong>Address:</strong> <%= @pet.address %>, <%= @pet.postcode %></p>
            <p><strong>Price:</strong> £<%= sprintf('%.2f', @pet.price) %></p>
        </div>
      </div>
    </div>
  </div>
</div>
