<div class="container">
  <div class="row">
    <div class="col-md-8">
      <!-- PET IMAGE AND INFO CONTAINER -->
      <div class="card bg-light mt-3">
            <div class="col-md-12 text-center petcontainer">
                <!-- PET IMG -->
                <%= cl_image_tag @pet.photo.key, class: "pet-image", alt: @pet.name, gravity: :center, crop: :fill %>

            </div>
            <!-- PET INFO -->
            <div class="infopet"> <!-- Center the text -->
                <!-- IMAGES CATEGORY -->
                <% image_url = case @pet.category
               when 'Dog'
                 'https://res.cloudinary.com/dg9mc7ach/image/upload/v1708883789/5fb72f5daf6bc223a1acb628aeaaf023_ayw7l8.svg'
               when 'Cat'
                 'https://res.cloudinary.com/dg9mc7ach/image/upload/v1708883801/9e731b68e6be3e403f5a9da3d42ceb4a_cljpqm.svg'
               when 'Rabbit'
                 'https://res.cloudinary.com/dg9mc7ach/image/upload/v1708883841/265291b777d57c71c4ab5a80b819b14f_lj5plw.svg'
               when 'Ferret'
                 'https://res.cloudinary.com/dg9mc7ach/image/upload/v1708883847/5c66582570be738a966e3bbfb7891eca_vvnqbk.svg'
               when 'Fish'
                 'https://res.cloudinary.com/dg9mc7ach/image/upload/v1708883873/8a750e6469cf33f18d5a46a7252f415d_gpbw0e.svg'
               when 'Bird'
                 'https://res.cloudinary.com/dg9mc7ach/image/upload/v1708883898/01c52ec83a4efaf586efc278cf00b258_exetbe.svg'
               else
                 'https://res.cloudinary.com/dg9mc7ach/image/upload/v1708883940/f921728c3016d82b09e9d7b9e4145c09_q06owg.svg'
               end %>
              <!-- Image Category -->
              <div class="pet-image-category"><%= cl_image_tag image_url, alt: @pet.name %></div>
              <div class="harthlogo">
                <%= cl_image_tag "https://res.cloudinary.com/dg9mc7ach/image/upload/v1708950159/red-heart-icon_suoupl.svg", alt: "Harth Image" %>
              </div>
              <strong id="petname"><%= @pet.name.capitalize %></strong>
              <div class="pet-details">
                  <!-- TABS -->
                <div class="pet-info" data-controller="show-pets">
                  <!-- Tab Buttons -->
                  <div class="tab-buttons">
                    <button data-action="click->show-pets#showTab">About</button>
                    <button data-action="click->show-pets#showTab">Owner</button>
                    <button data-action="click->show-pets#showTab">Care Details</button>
                    <button data-action="click->show-pets#showTab">Reviews</button>
                  </div>

                  <!-- Tab Contents -->
                  <div class="tab-content" data-show-pets-target="toggleableElement">
                    <p><%= @pet.description %></p> <!-- Description -->
                  </div>
                  <div class="tab-content" data-show-pets-target="toggleableElement">
                    <!-- Owner Profile -->
                  </div>
                  <div class="tab-content" data-show-pets-target="toggleableElement">
                    <!-- Care Details -->
                  </div>
                  <div class="tab-content" data-show-pets-target="toggleableElement">
                    <!-- Reviews -->
                  </div>
                </div>
             </div>
          </div>
          <!-- END PET IMAGE AND INFO CONTAINER -->
      </div>
    </div>
    <div class="col-md-4 p-3">
      <!-- PET PRICE AND DATES -->
      <div class="card p-3 bg-light">
        <p>From <i class="fas fa-lira-sign" style="color: green;"><%= @pet.price.to_i %></i> per night</p>
        <table class="table table-bordered mt-3">
          <tbody>
            <tr>
              <th>Start Date:</th>
              <td class="bg-white"><%= @pet.start_date %></td>
            </tr>
            <tr>
              <th>End Date:</th>
              <td class="bg-white"><%= @pet.end_date %></td>
            </tr>
            <tr>
              <th><i class="fas fa-house-user"></i></th>
              <td class="bg-white"><%= @pet.address %></td>
            </tr>
          </tbody>
        </table>
        <!-- CURRENT USER LOOK AFTER -->
        <% if current_user.id == @pet.user_id %>
          <div class="d-inline-flex mt-3">
            <%= link_to "Edit", edit_pet_path(@pet.id), class: "btn btn-primary ms-2" %>
            <%= link_to "Delete", pet_path(@pet.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger ms-2" %>
          </div>
        <% else %>
          <%= link_to "Look after #{@pet.name.capitalize}",
                      pet_requests_path(@pet.id),
                      data: { turbo_method: :post, turbo_confirm: "Are you sure?" },
                      class: 'btn btn-info mt-3' %>
        <% end %>
        <!-- END CURRENT USER LOOK AFTER -->
      </div>

      <!-- GEOLOCATION -->
      <div class="card bg-light mt-3 p-3">
        <div id="map" style="width: 100%; height: 400px;"
          data-controller="map"
          data-map-coords-value="<%= @coords.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>
